.Wrapper{
    width: 1200px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}

.Battlefield{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.Fighter button {
    width: 100%;
    border: none;
    cursor:pointer;
    border-radius: 0 0 4px 4px;
    padding: 1rem 1.5rem;
    font-weight: bold;
    color:white;
    text-decoration: none;
    background-color:dodgerblue;
    transition: 0.3s;
    transform: translate(0, -100%);
}

.Fighter {
    width: 15rem;
}

.DisplayBox{
    width: 100%;
    max-width: 30rem;
}
.DisplayBox textarea{
    width: 100%;
    height: 20rem;
    resize:none;
    padding:0;
    border:0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}
.DisplayBox button{
    margin:0;
    height:3rem;
    width: 75%;
    border: none;
    cursor:pointer;
    border-radius: 4px;
    font-weight: bold;
    color:white;
    text-decoration: none;
    background-color:#ff4141;
    transition: 0.3s;
    padding:0;
    float:left;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    margin-bottom: 2rem;

}

.DisplayBox button:disabled{
    background-color:grey;
}

.DisplayBox button:nth-child(3){
    width: 20%;
    margin-left:5%;
    background-color:dodgerblue;
}